<div class="container">
<div class="text-center">
  <img src="assets/image/burger.png" alt="trio of burgers" style="opacity: 0.6">
</div>

<div class="container">
  <h1 class="display-4 text-center">Build a burger and devour another!!</h1>
</div>


<div class="row">
  <div class="col-md">
    <ol class="list-group">
      <h2 style="text-align: center;">Pick a burger</h2>
      {{#each burgers}}
      {{#unless devoured}}
      <li class="list-group-item">
        <p>
          {{id}}.{{burger_name}}
          <button data-newdevour=`${devoured}` class="devour-burger btn btn-primary float-right" data-id={{id}} style="text-align: center;">Devour</button>
        </p>
      </li>
      {{/unless}}
      {{/each}}
    </ol>
  </div>
</div>

<form class="create-form mb-3" style="position: ;">
  <div>
    <div class="box" id="search-bar">
      <input type="text" calass= "box" id="createBurger" placeholder="create a burger"> 
    </div>
  </div>
</form>
<button class=" save-btn btn btn-primary mt-2">Submit</button>

<div class="col-md">
  <ol class="list-group">
    <h2 style="text-align: center;">Devoured burgers!</h2>
    <ul>
      {{#each burgers}}
      {{#if devoured}}
      <li class="list-group-item">
        <p>{{id}}. {{burger_name}}</p>
      </li>
      {{/if}}
      {{/each}}
  </ol>

  </div>

  